<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	    <title>to do list</title>
		<link rel="stylesheet" href="../static/list.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	</head>
	<body>

	   <div class="container">

		   <div class="notcomp">
		    	<h3 style="color:red;">{{data}}</h3>
	   		</div>
	   </div>

	</body>
</html>